.technology__qe 
    .technology__possible_wrapper
        padding: 90px 0px 100px
        display: flex
        flex-direction: column

    .technology__possible
        background-image: url('img/technology__possible_bg.png')
        background-size: cover
        background-repeat: no-repeat

    .technology__possible_items
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 40px
        margin-bottom: 40px
        &:last-child
            margin-bottom: 0px
            margin-top: 0px

    .technology__possible_item
        max-width: 530px
        width: 100%

    .technology__possible_item--info-items

    .technology__possible_item--title
        font-family: $sofiaPro
        font-weight: 600
        color: #5e5e5c
        font-size: 26px
        margin-bottom: 15px
        display: flex
        align-items: center
        a
            margin-left: 10px
            color: $red
            font-size: 14px
            position: relative
            &:before
                content: ''
                display: block
                bottom: -1px
                background: $red
                width: 100%
                position: absolute
                height: 1px
                left: 0px

    .technology__possible_item--info
        display: flex
        flex-wrap: wrap
        justify-content: space-between

    .technology__possible_item--info-item
        width: 230px
        font-family: $proximaNova
        font-weight: 400
        color: #6e6e6c
        font-size: 16px
        margin-bottom: 10px
        padding-left: 23px
        position: relative
        &:before
            color: $red
            position: absolute
            left: 0px
            top: 3px
    
