.partners__items_wrapper
    display: flex
    flex-wrap: wrap
    padding: 90px 0px 50px 0px

.partners__item
    width: 33.33%
    padding: 0px 15px
    margin-bottom: 30px
    height: 300px

.partners__item_container
    width: 100%
    height: 100%
    background: #f7f7f7
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    transition: .5s ease all
    top: 0px
    &:hover
        box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.24)
        background: $red
        transition: .5s ease all
        height: 390px
        z-index: 1
        top: -20px
        .partners__item_bg
            opacity: .3
            transition: .5s ease all
        .partners__item_logo
            img
                filter: brightness(0) invert(1)
                transition: .5s ease all
        .partners__item_name
            color: $white
            transition: .5s ease all
        .partners__item_url
            color: $white
            transition: .5s ease all
        .partners__item_desc
            height: 130px
            transition: .5s ease all
            overflow: inherit

.partners__item_bg
    width: 200px
    height: 200px
    border: solid 55px #f0f0f0
    border-radius: 50%
    position: absolute
    right: -100px
    top: 180px
    transition: .5s ease all

.partners
    .page__head_products
        background-image: url('img/partners__bg.png')

.partners__item_desc
    transition: .5s ease all
    height: 0px
    overflow: hidden
    width: 100%
    padding: 0px 20px
    text-align: center
    z-index: 1
    position: relative
    font-weight: 400
    font-family: $sofiaPro
    font-size: 14px
    color: $white
    margin-bottom: 20px
    transition: .5s ease all
    line-height: 1.714

.partners__item_logo
    margin-bottom: 30px
    img
        height: 40px
        width: auto
        transition: .5s ease all

.partners__item_name
    font-weight: 600
    font-family: $sofiaPro
    font-size: 18px
    color: #5e5e5c
    transition: .5s ease all
    margin-bottom: 5px

.partners__item_url
    font-weight: 400
    font-family: $sofiaPro
    font-size: 14px
    color: #5e5e5c
    margin-bottom: 20px
    transition: .5s ease all

.partners__items
    background-image: url('img/partners__lines_bg.png')
    background-size: cover
    background-repeat: no-repeat

.page__follow
    background-image: url('img/page__follow_bg.png')
    background-size: cover
    background-repeat: no-repeat
    
.page__follow_wrapper
    height: 320px
    display: flex
    align-items: center
    justify-content: center

.page__follow_links
    display: flex
    margin-left: 100px

.page__follow_link
    margin: 0 1px
    height: 60px
    background: #e83a34
    width: 218px
    display: flex
    align-items: center
    justify-content: center
    font-weight: 400
    color: $white
    font-family: $proximaNova
    box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)
    transition: .5s ease all
    &:before
        margin-right: 8px
    &:hover
        box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.22)
        transition: .5s ease all
