.index__home
    .index__home_wrapper.wrapper
        .index__home_scroll
            .index__home_scroll--text
                |Scroll
        .index__home_socials
            .index__home_socials--item.index__home_socials--item-f
            .index__home_socials--item.index__home_socials--item-t
            .index__home_socials--item.index__home_socials--item-l
        .index__home_head
            .index__home_item
                .title.title__white.index__home_title
                    |<span class="title__line title__line_1">The high-tech</span> <div class="title__container"><span class="title__line title__line_1">life-science robot</span><span class="title__line title__line_2">&nbsp;for single</span></div> <span class="title__line title__line_2">kernel sorting and analysis</span>
                .index__buttons
                    .q__btn.q__btn_contact
                        |Contact Us
                    .q__btn.q__btn_desck
                        .q__btn_inner
                            |Presentation Deck
            .index__home_item
                .index__home_video
                    .index__home_video--inner
                        img.index__home_video--bg src="img/video__bg.png"
                        .index__home_video--inner-icon
                    .index__home_video--title
                        |View Video
    .index__home_bottom
        .index__home_bottom--wrapper
            .index__home_bottom--desc
                .index__home_bottom--desc-title
                    |QSorter Technology
                .index__home_bottom--desc-text
                    |The QSorter robot can analyze each individual object (grain, seed or bean) at very high speed measure its quality properties (nutritional and physical) and sorting according to single or combined criteria.
                a.index__home_bottom--desc-link href=""
                    |Learn more
            .index__home_bottom--item
                .index__home_bottom--item-img
                    img src="img/01_es.svg"
                .index__home_bottom--item-desc
                    |QSorter Explorer (QSE)
            .index__home_bottom--item
                .index__home_bottom--item-img
                    img src="img/01_ex.svg"
                .index__home_bottom--item-desc
                    |QSorter Horizon (QSH)
                



