.index__slider
    .index__slider_wrapper.wrapper
        .index__carousel.owl-carousel
            .index__carousel_item
                .index__carousel_item--text
                    .index__carousel_item--text-title
                        |Flexible working time
                    .index__carousel_item--text-desc
                        |“I have always wanted to work with creative, dynamic and relaxed people.” 
                    .index__carousel_item--text-name
                        |Miha
                    .index__carousel_item--text-position
                        |Electrical Engineer
                .index__carousel_item--img
                    img src="img/index__slider_img.png"
            .index__carousel_item
                .index__carousel_item--text
                    .index__carousel_item--text-title
                        |Flexible working time
                    .index__carousel_item--text-desc
                        |“I have always wanted to work with creative, dynamic and relaxed people.” 
                    .index__carousel_item--text-name
                        |Miha
                    .index__carousel_item--text-position
                        |Electrical Engineer
                .index__carousel_item--img
                    img src="img/index__slider_img.png"
            .index__carousel_item
                .index__carousel_item--text
                    .index__carousel_item--text-title
                        |Flexible working time
                    .index__carousel_item--text-desc
                        |“I have always wanted to work with creative, dynamic and relaxed people.” 
                    .index__carousel_item--text-name
                        |Miha
                    .index__carousel_item--text-position
                        |Electrical Engineer
                .index__carousel_item--img
                    img src="img/index__slider_img.png"

        .title
            |<span class="title__span_gray">Why working</span><br><span class="title__span_red">With us?</span>