.index__partners
    .index__partners_wrapper.wrapper
        .index__partners--item
            img src="img/index__partner.png"
        .index__partners--item
            img src="img/index__partner.png"
        .index__partners--item
            img src="img/index__partner.png"
        .index__partners--item
            img src="img/index__partner.png"
        .index__partners--item
            img src="img/index__partner.png"
        .index__partners--item
            img src="img/index__partner.png"
    .clients__carousel.owl-carousel
        .index__partners--item
            img src="img/index__partner.png"
        .index__partners--item
            img src="img/index__partner.png"
        .index__partners--item
            img src="img/index__partner.png"
        .index__partners--item
            img src="img/index__partner.png"
