.index__news

    .page__bar.page__bar_white.page__bar_reserv
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |News and events

    .index__wrapper.wrapper

        / .index__news_nav
        /     .index__news_nav--l
        /         .index__video_desc--subtitle
        /             |News and events
        /     .index__news_nav--r


        .index__news_inner
            .index__news_inner--head
                .title.title__news
                    |Latest News and Events
                form.index__news_form
                    .index__news_form--input
                        |@ Your email address
                    .index__news_form--submit
                        |Subscribe
            .index__news_items
                .index__news_item
                    .index__news_item--inner
                        .index__news_item--bg
                            img src="img/news__item_bg.png"
                        .index__news_item--cat
                            |Events
                        .index__news_item--container
                            .index__news_item--date
                                |01.02.2019
                            .index__news_item--desc
                                |The best QSorter Technology 2019 year
                .index__news_item
                    .index__news_item--inner
                        .index__news_item--bg
                            img src="img/news__item_bg.png"
                        .index__news_item--cat
                            |Events
                        .index__news_item--container
                            .index__news_item--date
                                |01.02.2019
                            .index__news_item--desc
                                |The best QSorter Technology 2019 year
                .index__news_item
                    .index__news_item--inner
                        .index__news_item--bg
                            img src="img/news__item_bg.png"
                        .index__news_item--cat
                            |Events
                        .index__news_item--container
                            .index__news_item--date
                                |01.02.2019
                            .index__news_item--desc
                                |The best QSorter Technology 2019 year


            .news__carousel.owl-carousel
                .index__news_item
                    .index__news_item--inner
                        .index__news_item--bg
                            img src="img/news__item_bg.png"
                        .index__news_item--cat
                            |Events
                        .index__news_item--container
                            .index__news_item--date
                                |01.02.2019
                            .index__news_item--desc
                                |The best QSorter Technology 2019 year
                .index__news_item
                    .index__news_item--inner
                        .index__news_item--bg
                            img src="img/news__item_bg.png"
                        .index__news_item--cat
                            |Events
                        .index__news_item--container
                            .index__news_item--date
                                |01.02.2019
                            .index__news_item--desc
                                |The best QSorter Technology 2019 year
                .index__news_item
                    .index__news_item--inner
                        .index__news_item--bg
                            img src="img/news__item_bg.png"
                        .index__news_item--cat
                            |Events
                        .index__news_item--container
                            .index__news_item--date
                                |01.02.2019
                            .index__news_item--desc
                                |The best QSorter Technology 2019 year


            a.index__news_more href=""
                |Show More

    .page__bar.page__bar_grey
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Our clients


