.about
    .page__head_products
        background-image: url('img/about__header_bg.png')

.about__commit_wrapper
    padding: 80px 0px 130px
    .page__subtitle
        margin-bottom: 20px
    .page__text
        margin-top: 30px

.page__text
    font-family: $proximaNova
    font-weight: 400
    color: #727b82
    font-size: 16px
    line-height: 1.687

.about__commit_desc
    width: 500px

.about__commit_contacts
    display: flex
    margin: 75px 0px 0px

.about__commit_contact
    padding: 0px 50px
    &:first-child
        padding-left: 0px
        border-right: solid 2px #d9dcde
    &:last-child
        padding-right: 0px

.about__commit_contact--link
    font-family: $sofiaPro
    font-weight: 300
    color: $red
    font-size: 18px
    margin-bottom: 5px
    display: flex

.about__commit_contact--text
    text-transform: uppercase
    color: #b9bdc0
    font-size: 12px
    font-weight: 400
    font-family: $proximaNova
    display: flex
    align-items: center
    &:before
        margin-right: 5px

.about__commit_contact--text-email
    &:before
        font-size: 9px

.about__commit_contact--text-phone
    &:before
        font-size: 9px