.footer__container, .footer__nav_item
    @media (max-width: 920px)
        flex-wrap: wrap

.footer__logo
    @media (max-width: 920px)
        margin: 0 auto
        text-align: center
        .footer__logo_socials
            margin: 20px auto 0

.footer__nav
    @media (max-width: 920px)
        max-width: none
        margin: 30px -10px 20px
        flex-wrap: wrap
        justify-content: flex-start
        .footer__nav_item
            min-width: calc(33.3% - 20px)
            margin: 0 10px
    @media (max-width: 560px)
        .footer__nav_item
            min-width: calc(50% - 20px)

.footer__nav_item--contacts
    @media (max-width: 920px)
        width: 100%
        max-width: none

.footer__c
    @media (max-width: 920px)
        text-align: center
        margin-top: 30px

.footer__wrapper
    @media (max-width: 920px)
        padding: 30px 10px 10px
