.index__home_head
    @media (max-width: 920px)
        flex-wrap: wrap
        justify-content: center

.index__buttons
    @media (max-width: 920px)
        margin: 0 -10px
        flex-wrap: wrap
        justify-content: center
        .q__btn
            margin: 0 10px 10px
            &:last-child
                margin-bottom: 0px

.title__container
    @media (max-width: 920px)
        display: block
        margin: 0 auto

.index__home_wrapper
    @media (max-width: 920px)
        padding: 80px 0 0

.index__home_wrapper .title__line
    @media (max-width: 920px)
        justify-content: center
        text-align: center
        margin: 0 auto

.index__home_bottom--desc
    @media (max-width: 920px)
        margin-right: 0
        max-width: none

.index__home_bottom--wrapper
    @media (max-width: 920px)
        flex-wrap: wrap
        padding: 30px 12px

.index__home_bottom--item
    @media (max-width: 920px)
        margin: 30px 12px

.index__home_bottom--item-desc
    @media (max-width: 920px)
        font-size: 16px

.index__home_bottom--item-img
    img
        @media (max-width: 920px)
            height: 53px
