.index__solv_wrapper
    @media (max-width: 740px)
        padding: 320px 0 40px

.index__solv_item
    @media (max-width: 740px)
        display: flex
        flex-wrap: wrap
        width: 100%
        position: absolute
        top: 30px
        left: 50%
        transform: translateX(-50%)
        padding: 0 10px

.index__solv_table
    @media (max-width: 865px)
        width: 200px
        line-height: 24px
    @media (max-width: 740px)
        display: inline-flex
        border-bottom: none
        border-top: 1px solid hsla(0,0%,100%,.5)
        width: 33.3%
        padding: 15px 0 0
        margin: 0


.index__solv_table--title
    @media (max-width: 865px)
        font-size: 24px
    @media (max-width: 740px)
        font-size: 16px

.index__solv_table--number
    @media (max-width: 865px)
        font-size: 16px
    @media (max-width: 740px)
        font-size: 10px

.index__solv_circles
    @media (max-width: 740px)
        position: relative
        top: 0
        right: -50%
        transform: translateX(-50%)
        width: auto

.index__solv_item
    .title__white
        @media (max-width: 740px)
            margin: 0
            font-size: 40px
            margin-top: 60px

.index__solv_desc
    @media (max-width: 740px)
        font-size: 21px
        max-width: none



