.index__contactus_wrapper
    @media (max-width: 1100px)
        height: auto
        padding: 10px 0
    @media (max-width: 920px)
        padding: 10px
        flex-wrap: wrap

.page__bar
    @media (max-width: 920px)
        .page__bar_item-l
            padding: 0
            width: 0
        .page__bar_item-r
            padding: 0 20px
            width: 100%

.index__contactus_wrapper .q__btn_contact
    @media (max-width: 920px)
        min-width: 172px
        z-index: 1
        margin: 45px 0 65px
