.index__news
    @media (max-width: 920px)
        padding: 25px 10px 0px

.title
    @media (max-width: 920px)
        font-size: 40px

.index__news_inner--head,
.index__news_items
    @media (max-width: 920px)
        flex-wrap: wrap

.index__news_inner
    @media (max-width: 920px)
        padding: 15px 0 50px

.index__news_form
    @media (max-width: 920px)
        margin-top: 25px

.page__bar
    @media (max-width: 920px)
        margin: 0 -10px

.page__bar_item-l
    @media (max-width: 920px)
        width: 0%

.page__bar_item-r
    @media (max-width: 920px)
        width: 100%
        padding: 0 0 0 10px

.index__video_video
    @media (max-width: 1170px)
        height: fit-content
        width: 50%
        &:before
            content: ''
            padding-top: 80%
            height: 100%
    @media (max-width: 920px)
        margin: 30px auto 0
        width: 70%
    @media (max-width: 640px)
        width: 100%

.index__video_wrapper
    @media (max-width: 920px)
        flex-wrap: wrap
        padding: 30px 10px 50px

.index__video_desc--link
    @media (max-width: 920px)
        margin: 30px auto 0

.index__video_desc
    @media (max-width: 920px)
        max-width: none
