.index__form
    @media (max-width: 920px)
        height: auto
        .page__bar
            .page__bar_item-l
                padding: 0
                width: 0
            .page__bar_item-r
                width: 100%
                padding: 0 20px
                justify-content: flex-start

.index__from_wrapper--container
    @media (max-width: 920px)
        flex-direction: column-reverse
        padding: 0

.index_form_table
    @media (max-width: 920px)
        width: 100%
        height: auto
        top: -60px
        right: auto
        background-color: #FCFCFC
        z-index: 0
        padding: 80px 20px 50px

.index__form_table--desc
    @media (max-width: 920px)
        max-width: none

.index__form_table_items
    @media (max-width: 920px)
        margin-top: 40px
        padding-top: 30px

.index__form_inner
    @media (max-width: 920px)
        background-color: $white
        width: calc(100% - 20px)
        margin: 30px 10px
        padding: 40px 20px 20px
        box-shadow: inset 0 -74px 44px -44px rgba(1,1,1,0.12)
        z-index: 1
        .input__wrapper
            margin: 0 auto 25px
        .input__submit
            margin: 0 auto 10px
            width: 100%
        .input__recall
            margin: 0 auto
            width: 100%
