.news__carousel
    display: none !important
    width: 100%
    .owl-stage-outer, .owl-stage, .owl-item, .index__carousel_item
        height: 100%
    .owl-dots
        position: absolute
        display: flex
        justify-content: center
        width: 270px
        right: 50%
        transform: translateX(50%)
        top: 325px
        .owl-dot
            width: 40px
            height: 3px
            background: #d9dcde
            margin: 0 10px
        .active
            background: $red

.news__carousel
    @media (max-width: 860px)
        display: block !important

.index__news
    .page__bar
        @media (max-width: 920px)
            .page__bar_item-l
                padding: 0
                width: 0
            .page__bar_item-r
                padding: 0 20px
                justify-content: flex-start

.index__news_item
    @media (max-width: 920px)
        margin: 0 auto
        padding: 0

.index__news_items
    @media (max-width: 860px)
        display: none

.index__news_item
    @media (max-width: 860px)
        width: 100%

.index__news_more
    @media (max-width: 920px)
        margin-top: 60px

.index__news_inner--head
    @media (max-width: 920px)
        margin-bottom: 40px
