.index__form
    background-image: url(img/contacts__bg.png)
    background-size: cover
    height: 730px
    .index__news_nav--r__second
        background: none !important
        &:before
            display: none

.index__form_inner
    .title
        margin-bottom: 10px
    display: flex
    flex-direction: column
    align-items: flex-start

.input__wrapper
    flex-direction: column
    display: flex
    margin-bottom: 25px
    max-width: 320px
    width: 100%
    margin-left: 25px

.input__container_textarea
    resize: none
    padding-bottom: 60px
    font-size: 22px
    font-family: $proxima
    color: #91999e
    border: none
    padding-bottom: 10px
    border-bottom: solid 1px #91999e
    background: none
    padding-left: 0px
    position: relative
    left: -2px
    font-weight: 300

.input__wrapper_title
    font-size: 14px
    font-family: $proxima
    color: #949ca1
    margin-bottom: 5px
    font-weight: 300

.input__container
    font-size: 22px
    font-family: $proxima
    color: #91999e
    border: none
    padding-bottom: 10px
    border-bottom: solid 1px #91999e
    background: none
    padding-left: 0px
    position: relative
    left: -2px
    font-weight: 300
    &::placeholder
        font-size: 22px
        font-family: $proxima
        font-weight: 300
        color: #91999e

.input__submit
    margin-top: 5px
    margin-left: 25px
    margin-bottom: 10px
    width: 320px
    position: relative
    height: 55px
    display: flex
    align-items: center
    justify-content: center
    &:before
        position: absolute
        color: $white
        right: 80px
    input
        padding-top: 4px
        width: 100%
        height: 100%
        background: $red
        font-size: 16px
        font-family: $proxima !important
        display: block
        padding-right: 50px
        color: $white
        font-weight: 400
        border: none

.input__recall
    margin-left: 25px
    width: 320px
    position: relative
    height: 55px
    background: $white
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row-reverse
    font-size: 16px
    font-weight: 400
    color: $red
    font-family: $proxima !important
    margin-bottom: 45px
    &:before
        margin-left: 30px
        font-size: 22px
        margin-bottom: 3px

.index_form_table
    width: 630px
    height: 690px
    right: -45px
    background: $white
    box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)
    position: relative
    padding: 155px 60px 0px
    overflow: hidden
    z-index: 1
    &:before
        content: ''
        display: block 
        position: absolute
        width: 300px
        height: 300px
        border: solid 70px #f7f7f8
        bottom: -140px
        right: -60px
        border-radius: 50%
        z-index: -1

.index__from_wrapper--container
    display: flex
    padding-left: 100px
    align-items: flex-start
    justify-content: space-between

.index__form_table--title
    font-family: $proxima
    font-weight: 600
    color: #5e5e5c
    font-size: 26px
    margin-bottom: 10px

.index__form_table--desc
    font-size: 16px
    font-family: $sofia
    color: rgb(92, 104, 112)
    line-height: 1.75
    font-weight: 400
    max-width: 425px

.index__form_table_items
    width: 100%
    margin-top: 70px
    display: flex
    flex-wrap: wrap
    padding-top: 80px
    border-top: solid 1px #d9dada

.index__form_table_item
    width: 33.33%
    height: 70px
    display: flex 
    justify-content: flex-start
    align-items: center
    padding: 5px 10px 0px 0px
    margin-bottom: 10px

.index__form_table--bg
    position: absolute
    top: -0px
    left: -100px