.wrapper
    max-width: 1170px
    margin: 0 auto
    width: 100%

.index__home_wrapper
    position: relative
    padding: 235px 0px 0px 0px
    display: flex

.index__home_head
    display: flex
    justify-content: space-between
    width: 100%

.index__home
    position: relative
    z-index: 2
    background-image: url(img/pattern_circle.png)
    background-size: cover

.title
    font-size: 60px;
    font-family: "SofiaPro"
    color: $white
    font-weight: 600
    line-height: 1.185

.title__line
    position: relative
    display: flex
    z-index: 1
    &:before
        z-index: -1
        content: ''
        display: block
        bottom: 15px
        position: absolute
        width: 100%
        height: 15px
    &_1
        &:before
            background: $red
    &_2
        &:before
            background: rgba(255, 255, 255, .3)

.index__home_title
    max-width: 780px
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 45px

.title__container
    display: flex

.index__home_item
    display: flex
    flex-direction: column
    &:first-child
        align-items: flex-start

.index__buttons
    display: flex
    margin-bottom: 150px

.q__btn
    width: 230px
    height: 55px
    display: flex
    align-items: center
    justify-content: center
    position: relative
    font-family: 'SofiaPro'
    font-weight: 400
    flex-direction: row-reverse
    font-size: 16px

.q__btn_contact
    margin-right: 20px
    background: $red
    color: $white
    &:before
        font-size: 30px
        margin-left: 35px

.q__btn_desck
    background: rgba(255, 255, 255, .3)
    color: $white
    &:before
        font-size: 25px
        margin-left: 25px

.q__btn_inner
    padding: 0px 10px 0px 0px
    position: relative
    &:before
        content: ''
        display: block
        position: absolute
        bottom: 0px
        background: #fff
        width: 100%
        height: 1px

.index__home_video
    position: relative
    width: 330px
    height: 330px

.index__home_video
    flex-direction: column
    align-items: center
    display: flex
    position: relative
    justify-content: center
    align-items: center
    img
        position: absolute
        margin-left: 3px

.index__home_video--inner
    width: 85px
    height: 85px
    border-radius: 50%
    border: solid 1px rgba(255, 255, 255, .3)
    padding: 3px
    display: flex
    align-items: center
    justify-content: center

.index__home_video--inner-icon
    background: $white
    border-radius: 50%
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    &:before
        font-size: 22px
        color: $red

.index__home_video--title
    font-size: 12px
    font-family: 'SofiaPro'
    color: $white
    margin-top: 4px
    font-weight: 400

.index__home_bottom
    background-image: url(img/index__home_bottom--bg.png)
    background-size: cover
    
.index__home_bottom--wrapper
    max-width: 1170px
    margin: 0 auto
    display: flex
    width: 100%
    padding: 30px 0px 25px 0px

.index__home_bottom--desc
    max-width: 400px
    margin-right: 110px
    width: 100%

.index__home_bottom--desc-title
    font-family: $sofia
    font-size: 22px;
    font-weight: 400
    color: $white
    margin-bottom: 5px

.index__home_bottom--desc-text
    font-size: 16px
    font-family: $sofia
    color: $white
    line-height: 1.625
    margin-bottom: 10px

.index__home_bottom--desc-link
    font-size: 14px
    font-family: $sofia
    color: $white
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        height: 1px
        background: $white
        position: absolute
        bottom: -3px

.index__home_bottom--item
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    margin: 0px 50px

.index__home_socials
    position: absolute
    right: 0px
    top: 205px

.index__home_socials--item
    width: 30px
    height: 30px
    background: #fff
    display: flex
    align-items: center
    justify-content: center
    margin: 0px 0px 30px 0px
    &:before
        color: $red

.index__home_bottom--item-img
    padding-bottom: 25px
    width: 100%
    margin-bottom: 25px
    border-bottom: solid 1px rgba(255, 255, 255, 0.5)
    img
        height: 75px

.index__home_bottom--item-desc
    font-size: 18px
    font-family: $sofia
    color: rgba(255, 255, 255, 0.5)

.index__home_scroll
    position: absolute
    right: 0px
    top: 470px
    &:before
        position: absolute
        color: $red
        font-size: 70px
        top: 45px
        right: 4px

.index__home_scroll--text
    font-size: 16px
    position: relative
    right: -12px
    font-family: $sofia
    color: $white
    font-weight: 600
    transform: rotate(90deg)
