.index__video_wrapper
    padding: 170px 0px 100px
    display: flex
    justify-content: space-between
    position: relative
    .index__video_desc--subtitle
        margin-bottom: 25px
    
.index__video
    position: relative
    z-index: 1
    
.index__video_video
    width: 585px
    position: relative
    height: 490px
    display: flex
    justify-content: center
    align-items: center
    background: $black
    box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.16)
    img
        opacity: .7
        width: 100%
        height: 100%
    .index__home_video--inner
        z-index: 1
        position: relative
    
.index__video_poster
    position: absolute

.index__video
    background: $gray

.index__video_desc
    display: flex
    flex-direction: column
    align-items: flex-start
    z-index: 1
    max-width: 508px
    width: 100%
    .q__btn
        margin-top: 40px

.index__video_desc--text
    font-family: $proxima
    font-weight: 400
    color: rgba(92, 104, 112, 0.902)
    line-height: 1.687
    font-size: 16px
    margin-top: 25px
    
.index__video_desc--subtitle
    position: relative
    font-family: $sofiaPro
    font-weight: 400
    z-index: 1
    display: flex
    align-items: center
    color: $dark-gray
    &:before
        content: ''
        margin-right: 20px
        display: block
        width: 65px
        height: 1px
        background: $red
    &:after
        position: absolute
        content: ''
        display: block
        width: 5px
        height: 5px
        border-radius: 50%
        border: solid 1px $red
        background: $gray

.title__red
    color: $red
    z-index: 1
    position: relative
    &:before
        z-index: -1
        content: ''
        display: block
        bottom: 15px
        background: #fff
        position: absolute
        width: 100%
        height: 15px
    
.index__video_desc--link
    border: solid 2px $red
    color: $red
    &:before
        font-size: 30px
        margin-left: 35px

.index__video_icon--2
    position: absolute
    bottom: -80px
    right: -35px

.index__video_icon--1
    position: absolute
    left: -10px
    top: -20px