//= partials/head.slim
  body
    .body__container
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/products/products__content.slim
      //= partials/index/index__contactus.slim
      //= partials/footer.slim