//= partials/head.slim
  body
    .body__container.technology__qe
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/technology__qe/technology__auto.slim
      //= partials/technology__qe/technology__explorer.slim
      //= partials/technology__qe/technology__possible.slim
      //= partials/footer.slim