.product__about_warpper
    padding: 130px 0px 120px 100px
    display: flex

.product__about
    background-image: url(img/product__about_bg.png)
    background-size: cover
    background-repeat: no-repeat

.product__about_slider
    height: 350px
    max-width: 650px
    position: relative
    width: 100%
    .owl-stage-outer, .owl-stage, .owl-item, .product__about_slider--item
        height: 100%
    .owl-dots
        position: absolute
        display: flex
        justify-content: center
        width: 270px
        right: 60px
        top: 325px
        .owl-dot
            width: 40px
            height: 3px
            background: #d9dcde
            margin: 0 10px
        .active
            background: $red
    .owl-nav
        position: absolute
        display: flex
        right: -140px
        top: 170px
    .owl-prev
        width: 70px
        height: 70px
        background: $white
        display: flex
        justify-content: center
        align-items: center
        border-left: solid 2px $red !important
        span
            display: none
        &:before
            color: $red
            transform: rotate(180deg)
    .owl-next
        width: 70px
        height: 70px
        background: $white
        display: flex
        justify-content: center
        align-items: center
        border-right: solid 2px $red !important
        span
            display: none
        &:before
            color: $red

.product__about_desc
    padding-top: 20px

.product__about_slider--item
    padding: 0px 60px 80px 0px
    justify-content: space-between
    display: flex

.product__about__slider--desc
    display: flex
    flex-direction: column
    align-items: flex-end
    max-width: 285px
    width: 100%
    text-align: right

.product__about__slider--rate
    width: 100px
    height: 15px
    background: $red
    margin-bottom:  30px

.product__about__slider--title
    font-family: $sofiaPro
    font-size: 18px
    font-weight: 600
    color: #5e5e5c
    margin-bottom: 15px

.product__about__slider--desc
    font-family: $proximaNova
    font-size: 16px
    padding-top: 30px
    font-weight: 400
    color: #5c6870
    line-height: 1.25

.product__about__slider--name
    font-family: $sofiaPro
    font-size: 24px
    font-weight: 600
    color: #5e5e5c

.product__about__slider--position
    font-family: $sofiaPro
    font-size: 11px
    font-weight: 300
    color: #adb3b7
    text-transform: uppercase

.product__about__slider--img
    max-width: 270px
    width: 100%
    height: 270px
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0 34px 42.24px 1.76px rgba(1,1,1,.12)
    img
        position: absolute
        height: 100%
        width: auto !important
        top: 50%
        right: 50%
        transform: translate(50%, -50%)