.product__about
    .product__about_warpper.wrapper
        .product__about_slider.owl-carousel
            .product__about_slider--item
                .product__about__slider--desc
                    .product__about__slider--rate
                    .product__about__slider--title
                        |Flexible working time
                    .product__about__slider--desc
                        |“I have always wanted to work with creative, dynamic and relaxed people.” 
                    .product__about__slider--name
                        |John Frieda
                    .product__about__slider--position
                        |manager
                .product__about__slider--img
                    img src="img/index__slider_img.png"
            .product__about_slider--item
                |2
        .product__about_desc
            .title__dg-g
                |<span>Customers </span><br><span>Reviews</span>