.products__content
    .products__content_wrapper.wrapper
        .products__sidebar
            .products__sidebar_inner
                .sidebar__category_item
                    a.sidebar__category_item--name.sidebar__category_item--name-act href="products.html"
                        |Category Name
                    .sidebar__category_item--posts
                        a.sidebar__category_item--post href="product.html"
                            |Category post
                        a.sidebar__category_item--post href="product.html"
                            |Category post
                .sidebar__category_item
                    a.sidebar__category_item--name href="products.html"
                        |Category#2 Name
                .sidebar__category_item
                    a.sidebar__category_item--name href="products.html"
                        |Pickles, Cucumbers & Gherkins
        .products__categories
            .products__categories_title.title__dg-g
                |<span>Select Your Product</span>
            .products__categories_items
                a.products__categories_item href="product.html"
                    .products__categories_item--container
                        .products__categories_item--img
                            img src="img/category__bg.png"
                        .products__categories_item--title
                            |Pickles, Cucumbers & Gherkins
                a.products__categories_item href="product.html"
                    .products__categories_item--container
                        .products__categories_item--img
                            img src="img/category__bg.png"
                        .products__categories_item--title
                            |Pickles, Cucumbers & Gherkins
                a.products__categories_item href="product.html"
                    .products__categories_item--container
                        .products__categories_item--img
                            img src="img/category__bg.png"
                        .products__categories_item--title
                            |Pickles
                a.products__categories_item href="product.html"
                    .products__categories_item--container
                        .products__categories_item--img
                            img src="img/category__bg.png"
                        .products__categories_item--title
                            |Pickles, Cucumbers & Gherkins
                a.products__categories_item href="product.html"
                    .products__categories_item--container
                        .products__categories_item--img
                            img src="img/category__bg.png"
                        .products__categories_item--title
                            |Pickles
                a.products__categories_item href="product.html"
                    .products__categories_item--container
                        .products__categories_item--img
                            img src="img/category__bg.png"
                        .products__categories_item--title
                            |Pickles, Cucumbers & Gherkins
                a.products__categories_item href="product.html"
                    .products__categories_item--container
                        .products__categories_item--img
                            img src="img/category__bg.png"
                        .products__categories_item--title
                            |Pickles, Cucumbers & Gherkins
                a.products__categories_item href="product.html"
                    .products__categories_item--container
                        .products__categories_item--img
                            img src="img/category__bg.png"
                        .products__categories_item--title
                            |Pickles
                    
    .page__bar.page__bar_red
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Customized Solutions

        