
footer.footer
    .footer__wrapper.wrapper
        .footer__container
            a.footer__logo href="/"
                .footer__logo_src
                    img src="img/05_logotype.svg"
                .footer__logo_desc
                    |We build extremely complex solutions that are made user friendly
                .footer__logo_socials
                    .footer__logo_social.footer__logo_social--f
                    .footer__logo_social.footer__logo_social--t
                    .footer__logo_social.footer__logo_social--l
            nav.footer__nav
                .footer__nav_item
                    .footer__nav_item--title
                        |Products
                    a.footer__nav_item--link href=""
                        |Solutions
                    a.footer__nav_item--link href=""
                        |Product Care
                    a.footer__nav_item--link href=""
                        |Custom Design
                .footer__nav_item
                    .footer__nav_item--title
                        |Technology
                    a.footer__nav_item--link href=""
                        |QSorter Technology
                    a.footer__nav_item--link href=""
                        |QSorter Explorer
                    a.footer__nav_item--link href=""
                        |QSorter Horizon
                .footer__nav_item
                    .footer__nav_item--title
                        |Company
                    a.footer__nav_item--link href=""
                        |About Us
                    a.footer__nav_item--link href=""
                        |Team
                    a.footer__nav_item--link href=""
                        |Awards
                    a.footer__nav_item--link href=""
                        |Partners
                .footer__nav_item
                    .footer__nav_item--title
                        |Career
                    a.footer__nav_item--link href=""
                        |Why Work with us
                    a.footer__nav_item--link href=""
                        |Current Opportunities
                .footer__nav_item
                    .footer__nav_item--title
                        |News & Events
                    a.footer__nav_item--link href=""
                        |News
                    a.footer__nav_item--link href=""
                        |Events
            .footer__nav_item--contacts
                a.footer__nav_item--title href=""
                    |Contacts
                a.footer__nav_item--link.footer__nav_item--link-number href=""
                    |+41 (0) 44 824 35 84
                a.footer__nav_item--link.footer__nav_item--link-email href=""
                    |info(at)qualysense.com
                a.footer__nav_item--link.footer__nav_item--link-address href=""
                    |QualySense AG Unterrietstrasse 2A CH-8152 Glattbrugg Switzerland
        .footer__c
            |© Copyright 2010 - 2019 QualySense AG