doctype html
html
  head
    title Qualysense
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0"
    link href="application.css" rel="stylesheet"
    script src="vendor.js"
    script src="application.js"
