header.header
  .header__wrapper
    .header__wrapper_container
      .burger
        span
        p.burger-menu
          |Menu
      a.logo href=""
        img.logo__src src="img/05_logotype.svg"
      .header__search.header__search_mobile
      .lang
        .lang__item
          |EN
      
    .header__wrapper_container
      nav.nav
        .nav__container
          a.nav__item href="" 
            |Products
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                .nav__container_menu--item-img
                  img src="img/01_book.svg"
                |Solutions
              a.nav__container_menu--item href=""
                .nav__container_menu--item-img 
                  img src="img/01_star.svg"
                |Product Care
              a.nav__container_menu--item href=""
                .nav__container_menu--item-img.nav__container_menu--item-img__star
                  img src="img/01_star.svg"
                |Custom Design
        .nav__container
          a.nav__item href="" 
            |Technology
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |QSorter Technology
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |QSorter Explorer
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |QSorter Horizon
        .nav__container
          a.nav__item href="" 
            |Company
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |About Us
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Team
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Awards
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Partners
        .nav__container
          a.nav__item href="" 
            |Career
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Why Work with us
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Current Opportunities
        .nav__container
          a.nav__item href="" 
            |News & Events
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |News               
              a.nav__container_menu--item href=""
                img.nav__container_menu--item-img src="img/"
                |Events               
        .nav__container
          a.nav__item href=""
            |Contacts

    .header__wrapper_container
      .header__search

  .header__nav_mobile
    nav.nav
      .nav__container
        p.nav__item
          |Products
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |Solutions
          a.nav__container_menu--item href=""
            |Product Care
          a.nav__container_menu--item href=""
            |Custom Design
      .nav__container
        .nav__item
          |Technology
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |QSorter Technology
          a.nav__container_menu--item href=""
            |QSorter Explorer
          a.nav__container_menu--item href=""
            |QSorter Horizon
      .nav__container
        p.nav__item
          |Company
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |About Us
          a.nav__container_menu--item href=""
            |Team
          a.nav__container_menu--item href=""
            |Awards
          a.nav__container_menu--item href=""
            |Partners
      .nav__container
        p.nav__item
          |Career
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |Why Work with us
          a.nav__container_menu--item href=""
            |Current Opportunities
      .nav__container
        p.nav__item
          |News & Events
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |News
          a.nav__container_menu--item href=""
            |Events
      .nav__container
        a.nav__item href=""
          |Contacts
      .lang
        .lang__item
          |EN
