.form__red
    background-image: url('img/product__form_bg.png')
    .page__bar_white
        position: relative
        z-index: 10
    .title__w-r
        margin-bottom: 10px
    .input__wrapper_title
        color: $white
    .input__container
        color: $white
        &::placeholder
            color: $white
        border-bottom: solid 1px $white
    .input__container_textarea
        color: $white
        &::placeholder
            color: $white
        border-bottom: solid 1px $white
    .input__submit
        input
            background: #e83a34
            box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.22)
        
.title__w-r
    position: relative
    z-index: 1
    max-width: 700px
    font-size: 54px
    font-family: $sofiaPro
    color: $white
    font-weight: 600
    span
        position: relative
        &:before
            z-index: -1
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 15px
            height: 15px
            background: #e83a34
            bottom: 10px
            box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.24)