.product__content_wrapper
    padding: 0px 0px 60px
    display: flex

.product__content
    padding: 45px 0px 0px 40px
    max-width: 960px
    width: 100%
    display: flex
    flex-direction: column

.product__content_main
    max-width: 550px
    width: 100%
    display: flex
    padding-right: 25px
    flex-direction: column
    .title__dg-g
        margin: 0px

.product__content_main--text
    font-family: $proximaNova
    color: #6c777e
    font-weight: 400
    font-size: 16px
    line-height: 1.248
    h1, h2, h3, h4, h5
        margin-top: 0px

.product__content_tabs
    max-width: 370px
    width: 100%
    padding-top: 118px

.product__slider_big
    height: 345px
    margin: 25px 0px
    width: 100%
    background: $red
    .slick-list, .slick-track, .product__slider_big--item
        height: 100%
    
.product__slider_small
    height: 70px
    width: 100%
    max-width: 370px
    margin: 0 auto
    .slick-list, .slick-track, .product__slider_small--item
        height: 100%
    .product__slider_small--item
        height: 70px
        width: 70px
        background: pink
        margin: 0 15px
    .slick-list
        margin: 0 -15px
    .slick-prev
        position: absolute
        height: 40px
        width: 40px
        border-left: solid 2px $red
        border-bottom: none
        border-top: none
        border-right: none
        padding: 0px
        left: -60px
        top: 50%
        transform: translate(0%, -50%)
        font-size: 0px
        display: flex
        align-items: center
        justify-content: center
        color: $red
        &:before
            color: $red
            font-size: 13px
            transform: rotate(180deg)
    .slick-next
        position: absolute
        height: 40px
        width: 40px
        border-right: solid 2px $red
        border-bottom: none
        border-top: none
        border-left: none
        padding: 0px
        display: flex
        align-items: center
        justify-content: center
        right: -60px
        top: 50%
        transform: translate(0%, -50%)
        font-size: 0px
        color: $red
        &:before
            color: $red
            font-size: 13px

.product__content_main--slider
    margin-bottom: 30px

.content__tabs_head
    display: flex
    flex-direction: column
    margin-bottom: 10px

.content__tabs_head--items
    display: flex

.content__tabs_head--item
    width: 50%
    display: flex
    flex-direction: column
    &:first-child
        padding-right: 10px
    &:last-child
        padding-left: 10px
    
.content__tabs_head--item-img__act
    .content__tabs_head--item-img
        box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)

.content__tabs_head--item-img
    width: 100%
    height: 105px
    margin-bottom: 10px
    display: flex
    align-items: center
    justify-content: center
    position: relative
    img
        position: absolute
        width: 100%
        height: auto
        top: 50%
        right: 50%
        transform: translate(50%, -50%)

.content__tabs_head--item-desc
    font-family: $proximaNova
    font-weight: 500
    font-size: 12px
    width: 100%
    text-align: center
    color: #5e5e5c

.content__tabs_head--title
    font-family: $sofiaPro
    color: #5e5e5c
    font-size: 24px
    margin-bottom: 10px
    font-weight: 400

.content__tabs_container--title
    font-family: $sofiaPro
    color: #5e5e5c
    font-size: 24px
    margin-bottom: 15px
    font-weight: 400

.content__tabs_container--point
    margin-bottom: 15px
    font-family: $sofiaPro
    color: #6c777e
    font-size: 16px
    font-weight: 400
    padding-left: 28px
    position: relative
    &:before
        color: $red
        position: absolute
        top: 0px
        left: 0px
        font-size: 14px

.content__tabs_container--download
    margin-bottom: 10px
    width: 100%
    max-width: 270px
    display: flex
    height: 55px
    justify-content: flex-end
    position: relative
    
.content__tabs_container--download-inner
    max-width: 250px
    width: 100%
    border: solid 2px $red
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    padding: 0 15px 0px 30px
    text-align: left
    line-height: 1.223
    font-family: $proximaNova
    color: #5e5e5c
    font-size: 14px
    font-weight: 400

.content__tabs_container--download-icon
    position: absolute
    width: 40px
    height: 40px
    background: #fff
    box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)
    top: 50%
    left: 0px
    display: flex
    align-items: center
    justify-content: center
    transform: translate(0%, -50%)
    &:before
        color: $red
        font-size: 18px

.product__content_inner
    display: flex
    width: 100%
    padding-bottom: 30px

.page__recall
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start

.page__recal_btn
    background: $red
    width: 225px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row-reverse
    color: $white
    font-family: $sofiaPro
    font-weight: 600
    padding-top: 4px
    margin-left: 35px
    &:before
        margin-left: 15px
        color: $white
        font-size: 24px
        margin-bottom: 5px