.page__head
    background-size: cover
    background-repeat: no-repeat

.page__head_products
    background-image: url('img/products__bg.png')
    
.page__head_title
    margin-top: 20px

.page__head_wrapper
    height: 500px
    padding-top: 200px
    display: flex
    flex-direction: column
    align-items: flex-start

.page__head_b
    display: flex

.page__head_b--item
    font-family: $sofiaPro
    font-weight: 400
    font-size: 12px
    color: $white
    text-transform: uppercase
    margin: 0px 10px
    position: relative
    &:first-child
        margin-left: 0px
    &:last-child
        margin-right: 0px
    &-act
        color: $red
        &:before
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 1px
            background: $red
            bottom: 0px



.title__w-g
    max-width: 700px
    font-size: 70px
    font-family: $sofiaPro
    color: $white
    font-weight: 600
    position: relative
    z-index: 1
    span
        position: relative
        &:before
            z-index: -1
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 15px
            height: 15px
            background: rgba(255, 255, 255, .45)
            bottom: 10px

.title__dg-g
    position: relative
    z-index: 1
    max-width: 700px
    font-size: 54px
    font-family: $sofiaPro
    color: #5e5e5c
    font-weight: 600
    span
        position: relative
        &:before
            z-index: -1
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 15px
            height: 15px
            background: #efefee
            bottom: 10px