.page__head
    @media (max-width: 920px)
        background-position: center
        padding: 0 10px

.title__w-g
    @media (max-width: 920px)
        font-size: 40px

.about__committ_wrapper
    @media (max-width: 920px)
        padding: 30px 10px 50px
        flex-wrap: wrap

.title__dg-g
    @media (max-width: 920px)
        font-size: 40px

.about__committ_img
    @media (max-width: 1060px)
        right: -160px
    @media (max-width: 920px)
        position: relative

.about__committ_img
    @media (max-width: 920px)
        height: 420px

.about__committ_contacts
    @media (max-width: 920px)
        flex-wrap: wrap
        margin: 0

.about__committ_contact
    position: relative
    @media (max-width: 920px)
        margin: 15px 0
        &:after
            position: absolute
            content: ''
            height: 1px
            width: 45px
            bottom: -15px
            background: $gray
        &:last-child:after
            display: none

.page__text
    @media (max-width: 920px)
        font-size: 14px
