.about__food_wrapper
    @media (max-width: 920px)
        padding: 40px 10px 25px

.title__dg-rd-w
    @media (max-width: 920px)
        font-size: 40px

.about__food_wrapper
    @media (max-width: 920px)
        flex-wrap: wrap
        flex-direction: column-reverse
        align-items: flex-start

.about__food_img
    @media (max-width: 1060px)
        left: -120px
    @media (max-width: 920px)
        position: relative
        height: 355px
        left: -40px

.about__committ_desc
    @media (max-width: 920px)
        max-width: none
