.technology__explorer
    .technology__explorer_wrapper.wrapper
        .title__w-r
            |<span>QSorter Explorer</span>
        .technology__explorer_text
            |The first device on the market, the QSorter Explorer, can process up to 10 kg/h and analyses each single kernel at a speed of 3000 kernels per minute. Biochemical properties can be assessed, together with geometrical and physical parameters for a more accurate, faster and reliable classification of your sample. We provide you with the game-changing solution you need to stay ahead of your competition!
        .technology__explorer_robot--1
            img src="img/01a_robot.png"
            .technology__robot_desc.technology__robot_desc--1.technology__robot_desc--reserv
                .technology__robot_desc--icon
                .technology__robot_desc--text
                    |Multiple measurements in one single pass : biochemical properties, damages, defects, impurities, physical traits
            .technology__robot_desc.technology__robot_desc--2
                .technology__robot_desc--icon
                .technology__robot_desc--text
                    |Non-destructive <br>method
            .technology__robot_desc.technology__robot_desc--3
                .technology__robot_desc--icon
                .technology__robot_desc--text
                    |Full statistics on a kernel <br>base and for each batch
            .technology__robot_desc.technology__robot_desc--4
                .technology__robot_desc--icon
                .technology__robot_desc--text
                    |Easy to operate <br>(no specialized <br>personnel needed)
            .technology__robot_desc.technology__robot_desc--5
                .technology__robot_desc--icon
                .technology__robot_desc--text
                    |Reliable sorting technology <br>( 99% repeatability )
            .technology__robot_desc.technology__robot_desc--6
                .technology__robot_desc--icon
                .technology__robot_desc--text
                    |Fast analysis: <br>3000 kernels/minute