.technology__auto
    .technology__auto_wrapper.wrapper
        .technology__auto_item
            .page__subtitle
                |Outstanding production efficiency
            .title__dg-rd-w
                |<span>Automatic and</span> <br><span>Reliable </span><span class="red__span">Quality</span> <br><span class="red__span">Inspection</span>
            .rechnolog__auto_item--text
                |The QSorter technology reduces quality inspection costs and lead time to certification of your commodity. Latest technology sensors, together with accurate calibrations guarantee 99% repeatability of the analysis. Performing multiple tests simultaneously, it accelerates the inspection process, and the sorting capabilities guarantee the classification of the sample into different quality groups for further testing.<br><br>The price of your commodity depends on it’s physical and compositional parameters. Determine moisture, protein, oil, sugar content, size, color, shape and other parameters without the use of wet chemistry. Additionally, you can sort the analyzed kernels into multiple quality classes and get the full data of your sample and the data for each individual kernel.

        .technology__auto_item
            img.technology__auto_item--img src="img/technology__auto_img.png"

    .page__bar.page__bar_red.page__bar_reserv
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Benefits

